# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [2]:
num = 4
print(type(num))

<class 'int'>

##### Assinging float - Float types are decimals

In [5]:
afloat = 4.0
print(type(afloat))

<class 'float'>

#### Performing Calculations on ints and floats

##### Addition (+)

In [11]:
total = 5 + 10
print(total)

num1 =5 
num2 = 6

total = num1 + num2
print(total)

total = 5 + 10.0
print(total)


total += 5 # total = total + 5
print(total)

15
11
15.0
20.0

##### Subtraction (-)

In [15]:
diff = 10 - 5
print(diff)

diff = 10 - 5.0
print(diff)

diff -= 2
print(diff)

5
5.0
3.0

##### Multiplication (*)

In [23]:
prod = 11 * 2
print(prod)

prod *= 3.4
print(int(prod))

22
74

##### Division (/)

In [27]:
quot = 15 / 3
print(quot)

quot /= 5
print(quot)

5.0
1.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [31]:
quot = 19 // 2
print(quot)

9

In [8]:
quot = 1000 // 3
print(quot)

333

##### Modulo (%) - Returns the remainder of division

In [34]:
remainder = 10 % 2
print(remainder)

0

##### Exponential (**)

In [37]:
square = 5**2
print(square)

sqroot = 25**.5
print(sqroot)

25
5.0

In [6]:
cube = 5**3 
print(cube)

125

### String Input-Output

##### String Assignment

In [48]:
name = "Dylan's"

print(name)

last = 'Katina\\ns'
print(last)

Dylan's

'Katina\\ns'

##### print() <br>
<p>Don't forget about end=' '</p>

In [53]:
print("this is a line")
print("this is another line")

this is a line
this is another line

##### String Concatenation

In [59]:
aword = 'hello'
bword = 'there'

total = aword + ' ' + bword
print(total)

repeat = 'hello'*3
print(repeat)

hello there
hellohellohello

##### Type Conversion

##### input()

In [70]:
# name = input("Whate is your name: ")
# print('Hello ' + name)
age = int(input("How old are you? "))
print(type(age))
# print("You are " + age + ' that awesome!')

<class 'int'>

##### format()

In [75]:
age = input("How old are you? ")
name = 'Dylan'

# result = "Wow {}, your are {}, that's awesome!".format(age, name)
# print(result)

result = f"Wow {name}, your are {age}, that's awesome!"
print(result)

Wow Dylan, your are 127, that's awesome!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [85]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

name = 'Dylan'

if name == 'Dylan':
    print("Don't let that guy in... he is too cool")

else:
    print('That guy is also cool....but not THAT cool')

if 'y' in name:
    print("kinda weird")

Don't let that guy in... he is too cool
kinda weird

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [18]:
num = ["apple", "banana", "cherry"]

x = ["apple", "banana", "cherry"]

print(num is x)

False

##### 'in' keyword = used to check if a value is present in a sequence

In [7]:
name = 'Dylan'

if 'y' in name:
    print('y in there')
else:
    print('y not in there')

y not in there

##### 'not in' keyword'

In [9]:
name = 'Christian'

if 'y' not in name:
    print('y not in there')
else:
    print('y in there')

y not in there

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

In [22]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F
dylan = 'Margherita'
christian = 'Supreme'

if dylan == 'Margherita' or christian == 'Cheese':
    print('Everything is right in the world')
else:
    print('Somthins up!!!')

Everything is right in the world

### Elif Statements

In [ ]:
#additional condition should the if not pass

### Else Statements

In [ ]:
#catch all, if no conditions pass

### For Loops

In [26]:
name = "Dylan"

count = 0

for letter in name:
    #alot more logic
    count += 1

print(count)

5

##### Continue Statement

In [27]:
# will continue to next iteration
name = "Dylan"

count = 0

for letter in name:
    if letter == 'l':
        continue
    print(letter)

D
y
a
n

##### Break Statement

In [28]:
# will break out of current loop

name = "Dylan"

count = 0

for letter in name:
    if letter == 'l':
        break
    print(letter)

D
y

In [19]:
name = "333**3"

count = 1000

for number in name:
    #alot more logic
    count += 3

print(count)

1018

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass

print(1+1)


def thisfunc():
    pass

def thatfunc():
    pass

def otherfunc():
    pass

##### Double For Loops

In [30]:

names = ['Dylan', 'Oackland', ' Jake', 'Faith', 'Britt']



for name in names:
    print(name)
    for letter in name:
        print(letter)

Dylan
D
y
l
a
n
Oackland
O
a
c
k
l
a
n
d
 Jake

J
a
k
e
Faith
F
a
i
t
h
Britt
B
r
i
t
t

### While Loops

In [34]:
num = 0

while num <= 100:
    print(num)
    if num == 25:
        break

    num += 5

0
5
10
15
20
25

##### Looping 'While True'

In [35]:

num = 0

while True:
    num += 1
    if num >= 10:
        break
    print(num)

1
2
3
4
5
6
7
8
9

##### While & For Loops Used Together

In [37]:
christian = 'Christian'

count = 0

while christian == 'Christian':
    print('WOooow he\'s so coool, lets spell his name out')
    for letter in christian:
        print(letter.upper())

    count += 1
    if count >= 5:
        christian = 'Wow he turned on us, that\'s not the real Christian'

WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N

### Built-In Functions

##### range()

In [49]:
this_range = range(10)

print(this_range)

for num in range(3,10,2):
    print(num)

range(0, 10)
3
5
7
9

##### len()

In [52]:
name = ['12','235','3']
print(len(name))

3

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [56]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance() - checks if the object is the type

In [2]:
age = 12

# print(isinstance(age, int))

##### abs() - returns the absolute value

In [66]:
num = 2-5

print(num)

-3

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [71]:


try:
    magic_number = 3
    guess = int(input('Guess a number?'))
    if guess == magic_number:
        print('Woooow you did it')
    else:
        print('WRONG')
except:
    print('Invalid guess, please use integers only dumby')

Invalid guess, please use integers only

### Lists

##### Declaring Lists

In [72]:
stus = [ 'Justin', 'Jennifer', 'Deven', 'Mitchell']

print(type(stus))

<class 'list'>

##### Indexing a List

In [77]:

#          0           1           2         3
stus = [ 'Justin', 'Jennifer', 'Deven', 'Mitchell']
#                     -3             -2           -1

this_guy = stus[-2]
print(this_guy)

Deven

##### .append()

In [84]:
#adding to list

stus.append('Marcos')
print(stus)

['Justin', 'Me', 'Jennifer', 'Deven', 'Marcos']

##### .insert()

In [85]:
stus.insert(1, "Me")

print(stus)

['Justin', 'Me', 'Me', 'Jennifer', 'Deven', 'Marcos']

##### .pop()

In [86]:
popped = stus.pop()
print(popped)
print(stus)

Marcos
['Justin', 'Me', 'Me', 'Jennifer', 'Deven']


##### .remove() - removes element in a list, does not remove duplicates

In [89]:
print(stus)

stus.remove('Me')

print(stus)

['Justin', 'Me', 'Me', 'Jennifer', 'Deven']
['Justin', 'Me', 'Jennifer', 'Deven']

##### del()

In [90]:
del(stus[1])
print(stus)

['Justin', 'Jennifer', 'Deven']

##### Concatenating Two Lists

In [91]:
l1 = ['Christian', 'Dylan']
l2 = ['Sam', 'Omar']

larger_list = l1 + l2
print(larger_list)

['Christian', 'Dylan', 'Sam', 'Omar']

##### Lists Within Lists

In [101]:
roster = ['Jake', 'Britt', 'Mitchell' , 'Oackland']
print(roster)

['Jake', 'Britt', 'Mitchell', 'Oackland']

##### Looping Through Lists

In [102]:

for student in roster:
    print(student)

Jake
Britt
Mitchell
Oackland

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [23]:
name = "10*"

count = 1000

for number in name:
    #alot more logic
    count += 0

print(count)

1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


max = 100

for num in range (1, max+1):
    if num > 1: 
        for p in range(2, num):
            if num%p == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [6]:


if age <= 18:
    print("kids")
else:
    print("seniors")

kids